/* Slide-in animation */
@media (min-width: 900px) {
  .slide-in {
    animation: slideIn 0.8s ease-in-out forwards;
  }

  @keyframes slideIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

  /* Slide-out animation */
  .slide-out {
    animation: slideOut 0.8s ease-in-out forwards;
  }

  @keyframes slideOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
}
