* {
    margin: 0;
    padding: 0;

}
body {
    background-color: #E8EAED;
    color: #89fc00;
    color: #212529;
}

/* 

transform: "perspective(500px) rotateX(30deg) rotateY(30deg)",
boxShadow: "10px 10px 20px rgba(0, 0, 0, 0.3)",
animation: "spin 4s linear infinite",

<style>
{`
    @keyframes spin {
      0% {
        transform: perspective(500px) rotateX(0deg) rotateY(0deg);
      }
      100% {
        transform: perspective(500px) rotateX(360deg) rotateY(360deg);
      }
    }
  `}
</style> */